@import "tailwindcss";

@import "primeicons/primeicons.css";

@import "flowbite-vue/index.css";

@plugin "flowbite/plugin";

@source "../node_modules/flowbite-vue";

@custom-variant dark (&:where(.dark, .dark *));

body {
  background-color: #f1f4fb;
  color: black;
}

.dark body {
  background-color: black;
  color: white;
}
